@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
}

/*
#c5ebd6
#83elab
#3ddc84
#2fa866
#1a5c37
#063d1e
*/

:root{
    --cor0: #7F99FA;
    --cor1: #b3bbd4;
    --cor2: #5F73BA;
    --cor3: #3E4B7A;
    --cor4: #091855;
    --cor5: #1E243B;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', sans-serif;
    --fonte-droid: 'Android', sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}
a.externo::after{
    content: '\1F517';
    font-size: 0.7em;
}
header{
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    color: white;
    min-height: 150px;/* indempendente do tamanho da tela do usuario, o header sempre ocupara 150px */
    text-align: center;
    padding-top: 40px;
}
header > h1{
    font-family: var(--fonte-destaque);
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.247);
}
header > p{
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    max-width: 500px; /* Quando configuramos seu max-width tranformamos o p em uma caixa do tipo block, então deixamos sua margin no auto */
    margin: auto;
    padding: 0px 10px 20px 10px;
}
nav{
    background-color: var(--cor5);
    padding: 10px;
    padding-bottom: 12px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.356);
}
nav > a{
    color: var(--cor1);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: 0.5s;
}
nav > a:hover{
    background-color: var(--cor2);
    color: var(--cor5);
}
main{
    background-color: white;
    min-width: 300px;  /* o min-whidth determina que o main não tera menos que 300px, os dispositivos que tiverem mais que 300px não terão qualquer tipo de problema na visualização do site */
    max-width: 1000px;  /* o max-width neste caso esta falando que o main não tera mais que 1000px, ou seja, em dispositivos em que a tela é maior que 1000px, as partes laterais vão aparecer e o conteudo ficara limitado em 1000px   */

    /* O min-width e o max-width são responsaveis por tornar o site responsivo, por delimitar o tamanho minimo e maximo que a parte principal, o main, pode ter */

    margin: auto; /* Como main é uma caixa do tipo block, usamos margin: auto; pra deixar ele no centro */
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.432);  /* Podemos configurar o box-shadow no dev tools */
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px; /* Configura para que todo inicio de paragrafo tenha um espaço de 30px(neste caso) */
    line-height: 1.7em;
}
main strong{
    color: var(--cor4);
    font-weight: bold;
}
main a{
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor1);
}
main a:hover{
    text-decoration: underline;
    color: var(--cor4);
}
main img{
    width: 100%;  /* Neste caso, como o main ja esta delimitando a imagem, só tivemos que determinar seu width em 100%, ou seja, indempendente da tela, a imagem ficara 100% e não quebrara */
}
main img.pequena{
    max-width: 350px;
    display: block;  /* Por causa da configuração acima, por não estar 100%, a imagem não estava centralizada, então tranformamos em uma caixa do tipo block e deixamos sua margin em auto */
    margin: auto;
}
div.video{
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 59%;
    position: relative;
}
div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
main h1{
    font-family: var(--fonte-droid);
    color: var(--cor5);
}
main h2{
    font-family: var(--fonte-droid);
    color: var(--cor4);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor0), transparent);
    text-indent: 5px;
}
aside{
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.384);
}
aside > h3{
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px -10px -10px;
    border-radius: 10px 10px 0px 0px;
}
aside > ul{
    list-style-position: inside;
    columns: 2;
    list-style-type: '\2714\00A0\00A0';
}
footer{
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8;
    padding: 5px;
}
footer a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
footer a:hover{
    text-decoration: underline;
    color: var(--cor1);
}